@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Oswald:wght@200&family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Oswald:wght@200&family=Permanent+Marker&display=swap');

nav{
    padding: 0px 50px;
    background-color: rgb(14, 14, 71) !important;
}

.navbar-collapse{
    flex-grow: 0;
}

.navbar-nav li a{
    color: rgb(238, 240, 102) !important;
    display: flex;
    font-size: 20px;
    font-weight: bold;
}

/* Hover Effect */
.navbar-nav li a:hover{
    color: orange !important;
}

.carousel-item img{
    height: 400px;
}

.offer h1{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: red;
    background-color: black;
    animation: movebox 5s linear infinite;
    animation-delay: 2s;
}

@keyframes movebox{
    0%{
        opacity: 0.4;
        transform: translateY(0px);
    }
    20%{
        opacity: 0.6;
        transform: translateY(50px);
    }
    40%{
        opacity: 0.8;
        transform: translateY(0px);
    }
    60%{
        opacity: 1;
        transform: translateY(-50px);
    }
    80%{
        opacity: 1;
        transform: translateY(0px);
    }
    90%{
        opacity: 1;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
        transition: 0.5s;
        transform: perspective(400px) rotateY(30deg);
        transform-origin: 0% 0%;
    }
}

.trending-section {
    padding: 10px 20px;
}

.trending-section h1{
    color: rgb(247, 16, 158);
    text-align: left;
    padding-bottom: 10px;
}

.trending-section .card{
    overflow: hidden;
}

.trending-section .card .trending-img {
    overflow: hidden;
    height: 250px;
}

.trending-section .card .trending-content{
    padding: 20px;
}

.btn-style{
    text-decoration: none;
    background-image: linear-gradient(90deg, blue, blueviolet);
    color: white;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 10px blueviolet;
}

.btn-style:hover {
    color: white;
    background-image: linear-gradient(90deg, blueviolet, blue);
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{
    font-size: 100px !important;
    justify-content: center !important;
}

.footer{
    width: 100%;
    /* position: absolute; */
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    line-height: 20px;
}

.footer .rowf{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.footer .colf{
    flex-basis: 25%;
    padding: 10px;
}

.footer .colf:nth-child(2) .col:nth-child(2){
    flex-basis: 15%;
}

.footer .logo{
    width: 80px;
    margin-bottom: 40px;
    position: relative;
}

.footer .email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.footer ul li{
    list-style: none;
    margin-bottom: 12px;
}

.footer ul li a{
    text-decoration: none;
    color: #fff;
}

.footer form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.footer form .far{
    font-size: 18px;
    margin-right: 10px;
}

.footer font input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

.footer form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.footer form button .fas{
    font-size: 16px;
    color: #ccc;
}

.footer .social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

.footer hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.footer .copyright{
    text-align: center;
}

.footer .underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.footer a{
    color: #fff;
    text-decoration: none;
}

.pdtname{
    font-family: 'Oswald', sans-serif;
}

.pdl{
    color: blue;
    font-size: larger;
}

.owl-carousel h5{
    padding-bottom: 20px;
}

@media screen and (max-width: 400px){
    .offer h1{
        text-align: center;
        font-family: 'Permanent Marker', cursive;
        font-size: medium;
        color: red;
        background-color: black;
        animation: movebox 5s linear infinite;
        animation-delay: 2s;
    }

    .footer .rowf{
        display: block;
        top: 50%;
        left: 50%;
    }

    .footer .colf{
        top: 50%;
        left: 50%;
    }
}